fastapi
uvicorn
aiofiles
aiomultiprocess
tenacity
slowapi
python-dotenv
langchain[core]
langchain-community
pydantic
hf_xet
langchain-google-genai
html2text
aiohttp
beautifulsoup4
PyPDF2
python-multipart
python-docx
python-pptx
pytesseract
sse-starlette
scikit-learn