fastapi
uvicorn
asyncio
aiofiles
aiomultiprocess
tenacity
slowapi
python-dotenv
langchain
langchain-community
sentence-transformers
faiss-cpu
openai
google-genai
pydantic
hf_xet
langchain-google-genai
html2text
aiohttp
beautifulsoup4
PyPDF2
python-multipart
python-docx
python-pptx
pytesseract
sse-starlette