fastapi
uvicorn
asyncio
aiofiles
aiomultiprocess
tenacity
slowapi
prometheus-fastapi-instrumentator
opentelemetry-instrumentation-fastapi
python-dotenv
langchain
langchain-community
sentence-transformers
faiss-cpu
openai
google-genai
pydantic
langchain-google-genai
html2text
aiohttp
beautifulsoup4
PyPDF2
python-multipart
python-docx
python-pptx
pytesseract
hf_xet